{{> html-head}}

	<div class="container pb-5">
		<div class="row">
			<div class="col-sm-12 blog-main">
				<div class="text-center">
					{{{contents}}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				
				<div class="text-center resume-border">
					<img class="img-fluid" src={{page1}} alt="Abhishek Patil"/>
				</div>
			</div>
			<!-- /.blog-main -->
		</div>
		<div class="row">
			<div class="col-sm-12">
			
				<div class="text-center resume-border">
					<img class="img-fluid " src={{page2}} alt="Abhishek Patil"/>
				</div>
			</div>
			<!-- /.blog-main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
{{> page-footer}} {{> html-footer}}