{{> html-head}}

	<div class="container pb-5">
		<div class="row">
			<div class="col-sm-12 blog-main">
				<div class="blog-post">
					<div class="row">
						<div class="col-sm-4">
							<img class="img-thumbnail" src={{image}} alt="Abhishek Patil"/>
						</div>
						<div class="col-sm-8">
							{{{contents}}}
						</div>
					</div>
				</div>
				<!-- /.blog-post -->
			</div>
			<!-- /.blog-main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
{{> page-footer}} {{> html-footer}}